.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right top,#0f2577, #1f43b3, #1c2127);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(to right top,#0f2577, #1f43b3, #1c2127);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }

    #Home {
        width: 100%;
        height: calc(100vh - 110px);
        background: url("../img/BG-Home.jpg") top center;
        background-size: cover;
        position: relative;
      }
      
    }